.masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    padding: 15px;
  }
  
  .masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your pins */
  .pin {
    margin-bottom: 30px;
  }
  
  .pin-image {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .heading{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #827f74; /* Gold color */
    text-transform: uppercase;
  }